@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  @apply w-[400px] border border-gray-200 py-2 px-6 bg-zinc-100/40;
}
  
body {
  font-family: 'Zain', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for all elements */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

*::-webkit-scrollbar { /* WebKit browsers */
  display: none;
}